* {
    font-size: 23px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

.container {
	width: 1000px;
    border: 5px solid #000;
    margin: 50px auto;
    position: relative;
}

.sale {
    position:absolute;
    background-color: red;
    padding: 5px 5px;
    color: #fff;
    top: -15px;
    left: -25px;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    background-color: #f7f7f7;
    padding: 30px 20px;
}

.price {
    font-weight: bold;
    font-size: 20px;
    float: left;
}

.shipping {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    float: right;
    font-size: 12px;
    margin-top: 8px;
}

.describe {
    font-weight: bold;
    font-size: 20px;
    clear: both;
    margin-bottom: 10px;
}

.more_info:link, .more_info:visited {
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
}

.more_info:hover, .more_info:active {
    text-decoration: none;
}

.detail_title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}

.detail_list {
    list-style: square;
}

ul {
    margin-left: 50px;
}

.li {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;

}

.button {
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border-top: 4px solid black;
}

.button:hover {
    color: #000;
    background-color: #fff;
}

.image {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 40px;
    float: left;
}

.sale-color {
    background-color: #000;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.color-blue {
    background-color: blue;
}

.color-yellow {
    background-color: yellow;
}


.color-red {
    background-color: red;
}

.color-green {
    background-color: green;
}

.color-brown {
    background-color: brown;
}

.product-info {
    width: 243px;
    float: left;
    margin-right: 40px;
    padding-top: 20px; 
}

.container_product {
    width: 243px;
    float: left;
    margin-top: -10px;
}